.experience {
	.header {
		.company,.employment,.location,.position {
			font-size: 1em;
			margin: 0;
		}

		.company {
			font-size: 1.2em;
		}
	}

	.body {
		margin: 0.5em 1em 1em 1em;

		& > p {
			margin: 1em 0;
		}
	}

	margin: 1em;
}
