@use 'sass:color';
@use './variables';

.panel {
	background-color: variables.$dark_accent;
	box-shadow: 0 0.4rem 1rem -0.4rem variables.$dark_shade;
	border-radius: 2rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: variables.$light_shade;
	padding: 2rem;
	margin: 1em 0;
	@media (min-width: 568px) {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.button {
		-webkit-border-radius: 1rem;
		-moz-border-radius: 1rem;
		border-radius: 1rem;
		box-shadow: 0 0.1rem 0.1rem 0.1rem color.adjust(variables.$dark_shade, $alpha: -0.4);
		color: variables.$dark_shade;

		.icon {
			color: variables.$dark_accent;
		}
	}
}

.header {
	margin: 0 0 1rem 0;

	@each $header in variables.$headings {
		#{$header} {
			margin: 0 0 1rem 0;
		}
	}

	.icon {
		margin-right: 0.2em;
		top: 0.1em;
	}

	legend {
		border: 0;
		color: variables.$light_shade;
		padding: 0;
		margin: 0;
	}
}

.footer {
	text-align: right;

	.button {
		margin: 0 0.5rem;
	}
}

.dark {
	.button {
		background-color: variables.$dark_shade;
		box-shadow: 0 0.1rem 0.1rem 0.1rem color.adjust(variables.$light_accent, $alpha: -0.4);
		color: variables.$light_shade;

		.icon {
			color: variables.$light_accent;
		}
	}

	.header {
		color: variables.$dark_accent;
	}
}
